@model IEnumerable<ServiceReference1.Person>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Art)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Navn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vaegt)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Art)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaegt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
